# Configuracoes de Banco de Dados
DATABASE_TYPE=
SQLITE_PATH=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=

# Nomes das tabelas
TABLE_GEOM_MUNICIPIOS="municipios_ceara"
TABLE_DADOS_FUNDIARIOS="malha_fundiaria_ceara"
TABLE_DADOS_ASSENTAMENTOS="assentamentos_estaduais_ceara"

# Configuracoes de Performance

## Simplicacao

# 0.01: Muito simplificado — para mapas de todo o Brasil ou mundo, onde só quer um contorno “grosso” (e olhe lá!).
# 0.001: Já simplifica bem, mas ainda mantém o formato das cidades — geralmente é o valor "seguro" para aplicações web, dashboards, etc.
# 0.0005: Muito detalhado, mas ainda reduz um pouco os vértices; fica ótimo para zoom intermediário.
# 0.0001: Quase não simplifica; só remove micro-serrilhados ou ruídos de digitização.

GEOMETRY_TOLERANCE=0.001
GEOMETRY_DECIMALS=6


## Workers e Threads
GUNICORN_WORKERS=4
GUNICORN_THREADS=8
GUNICORN_TIMEOUT=120
GUNICORN_LOG_LEVEL=info