# gunicorn serve FastAPI via Uvicorn
gunicorn

# web framework
fastapi
uvicorn[standard]

# ciência de dados
numpy
pandas
geopandas
shapely
pyproj

# banco de dados
SQLAlchemy
psycopg2-binary
geoalchemy2

# settings, .env, logs
python-dotenv
pydantic-settings
python-json-logger

# formatação GeoJSON e unidecode
GeoJSON
unidecode

# agendador e compressão HTTP
APScheduler
brotli-asgi


requests          # Para chamadas HTTP à API
tenacity           # Para mecanismo de retry
python-dateutil    # Para manipulação de datas (usado indiretamente)
typing-extensions  # Para suporte a tipos (Python < 3.10)

PyJWT